body {
  width: 70%;
  margin: 0 auto;
}

div {
  margin: 20px;
  padding: auto;
  display: block;
  background-color: azure;
}

.tag-name {
  font-size: large;
  font-weight: bold;
}

.footer {
  height: 4rem;
  background-color: #dddddd5c;
  position: relative;
  font-size: 1rem;
}

.footer p {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}
